<!DOCTYPE html>
<html>
<head>
  <title>Онлайн петиции нашего района</title>
</head>
<body>

<div class="container">
  <div class="header">
    <div id="title">Онлайн петиции нашего района</div>
    <div id="login">
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "(Выйти)", '/logout' %>
      <% else %>
        <%= link_to 'Зарегистрироваться', '/signup' %> | <%= link_to 'Войти', '/login' %>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="content">
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <table>
      <tr>
        <td style="border-bottom: 0"><h3>Все петиции</h3></td>
      </tr>
      <tr>
        <td><strong>Петиция</strong></td>
        <td><strong>Автор</strong></td>
      </tr>
            <% if @petitions %>
            <% @petitions.each do |petition| %>
            <tr>
            <td><%= link_to petition.title, petition %></td>
            <td><%= "#{petition.user.first_name} #{petition.user.last_name}" %></td>
            <% end %>
          <% end %>
      </tr>
    </table>
  </div>
  <div class="sidebar">
   <ul>
     <li><%= link_to 'Все петиции', '/all' %></li>
     <li><%= link_to 'Создать петицию', new_petition_path %></li>
     <% if current_user %>
     <li><%= link_to 'Мои петиции', '/my_petitions' %>
              <% end %>
     </li>
  </ul>
  </div>
</div>
</body>
</html>