<table>
  <tr>
    <td style="border-bottom: 0"><h3><%= @header_title %></h3></td>
  </tr>
  <tr>
    <td><strong>Петиция</strong></td>
    <% unless params[:my] %>
      <td><strong>Автор</strong></td>
    <% end %>
    <td><strong>Голоса</strong></td>
    <td><strong>Дата создания</strong></td>
    <% if params[:my] %>
      <td><strong>Действия</strong></td>
    <% end %>
  </tr>
  <% if @petitions %>
        <% @petitions.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition %></td>
          <td><%= "#{petition.user.first_name} #{petition.user.last_name}" %></td>
          <td><%= petition.votes.count %></td>
          <td><%= petition.created_at %></td>
          <% if params[:my] %>
          <td><%= link_to 'Изменить', edit_petition_path(petition) %> <%= link_to 'Удалить', petition, method: :delete %></td>
          <% end %>
          <% end %>
        <% end %>

        </tr>
</table>