<table class="table">
  <caption><h4><%= @header_title %></h4></caption>
  <tr>
    <td><strong>Петиция</strong></td>
    <% unless params[:my] %>
      <td><strong>Автор</strong></td>
    <% end %>
    <td><strong>Голоса</strong></td>
    <td><strong>Дата создания</strong></td>
    <% if params[:my] %>
      <td><strong>Действия</strong></td>
    <% end %>
  </tr>
  <% if @petitions %>
        <% @petitions.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition %></td>
          <% unless params[:my] %>
            <td><%= "#{petition.user.first_name} #{petition.user.last_name}" %></td>
          <% end %>
          <td><%= petition.votes.count %></td>
          <td><%= petition.created_at.strftime('%d/%m/%Y %H:%M') %></td>
          <% if params[:my] %>
          <td><%= link_to raw("<i class='glyphicon glyphicon-pencil'></i> Изменить"), edit_petition_path(petition), class: "btn btn-warning btn-xs" %> <%= link_to raw("<i class='glyphicon glyphicon-remove'></i> Удалить"), petition, method: :delete, class: "btn btn-danger btn-xs" %></td>
          <% end %>
          <% end %>
        <% end %>

        </tr>
</table>
