<!DOCTYPE html>
<html>
<head>
  <title>Онлайн петиции нашего района</title>
</head>
<body>

<div class="container">
  <div class="header">
    <div id="title">Онлайн петиции нашего района</div>
    <div id="login">
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "(Выйти)", '/logout' %>
      <% else %>
        <%= link_to 'Зарегистрироваться', '/signup' %> | <%= link_to 'Войти', '/login' %>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="content">
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <h3>Новая петиция</h3>

    <%= form_for :petition, url: '/petitions' do |f| %>
      Название: <br>
      <%= f.text_field :title %> <br>
      Описание: <br>
      <%= f.text_area :description %><br>
      <br>
      <%= f.submit "Создать" %>
    <% end %>
  </div>
  <div class="sidebar">
   <ul>
     <li><%= link_to 'Все петиции', '/all' %></li>
     <li><%= link_to 'Создать петицию', new_petition_path %></li>
     <% if current_user %>
     <li><%= link_to 'Мои петиции', '/my_petitions' %>
              <% end %>
     </li>
  </ul>
  </div>
</div>
</body>
</html>