<h2>Петиция</h2>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><b><%= @petition.title %></b></h3></div>
  <div class="panel-body">
    <div><i class="small"><%= @petition.created_at.strftime('%d/%m/%Y %H:%M') %></i></div>
    <br>
    <div><%= @petition.description %></div>
  </div>
</div>
<br>
<div><strong>Голосов: </strong> <span class="badge"> <%= @petition.votes.count %></span></div>
<br>
<div><% unless current_user == @petition.user %>
    <% if @petition.votes.where(:user_id => current_user.id).any? %>
      <%= "Вы уже поддержали данную петицию" %>
    <% else %>
      <%=  button_to "Поддержать", upvote_petition_path(@petition), method: :post %> 
    <% end %>
  <% end %>
  </div>
